:root {
    --branco-principal: #FFFFFF; 
    --cinza-secundario: #C0C0C0; 
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'inter';
    --botao-azul--efeito: #72a8eb;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
   
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(./asset/2Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10vh;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    margin-bottom: 1em;
    color: var(--branco-principal);
    display: block;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0em 6em;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700px;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
    text-align: center;
}

.descricao__titulo1 {
    font-size: 45px;
}

.descricao__texto {
    color: var(--cinza-secundario);
    text-align: center;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.descricao_texto2{
    text-align: justify;
}

.container__descricao {
    padding: 2em;
}

.descricao__descricao {
    align-items: center;
    text-align: center;
    display: inline-block;
}

.descricao__imagem__ultimas {
    display: inline-flex;
    align-items: center;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 4em 0;
}

.dispositivos__titulo {
    font-size: 45px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 25px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    color: var(--branco-principal);
    padding: 5em 5em 5em 5em;
    font-size: 14px;
    text-align: center;
    font-family: 'Inter';
}

.rodape__lista {
    font-size: 16px;
    display: flex;
    justify-content: center;
    list-style-type: none; 
    
}

.lista__link {
    color: var(--branco-principal);
    margin: 2em 2em;
    font-size: 12px;
    text-decoration: none;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.lista__link a:hover {
    color: var(--botao-azul--efeito)
}

.lista__link a:active {
    color: var(--botao-azul);
}

.container__botao:hover {
    background-color: var(--botao-azul--efeito);
    color: var(--cor-de-fundo);
}